body{
	background:url(survey-form-background.jpeg);
    font-family: 'Lato', sans-serif;
    
}
.mainheading{
	color:white;
	text-align:center;
	margin-top:50px;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	 
}.secondheading{
	color:white;
	text-align:center;
	
	font-weight:100;
	font-family: 'Lato', sans-serif;

}

.form{
	overflow-y:scroll;
	margin-top:50px;
	background-color:rgb(43,41,73);
	opacity:0.9;
	display:flex;
	flex-direction:column;
	width:50vw;
	height:110vh;
	margin-left:380px;
	align-items:center;
	padding-top:30px;
	font-family: 'Lato', sans-serif;
	font-weight:100;
	/*justify-content:center;*/
	
	
}label{
	padding-top:30px;
	font-size:20px;
	color:white;
	font-weight:bold;

}#email{
		font-size:15px;

	width:550px;
	height:30px;
	justify-content:center;
	outline:none;
	border-radius:5px;
	margin-top:10px;
}#name{
	font-size:15px;
	margin-top:10px;

	width:550px;
	height:30px;
	justify-content:center;
	outline:none;
	border-radius:5px;
}#age{
	font-size:15px;
	margin-top:10px;

	width:550px;
	height:30px;
	justify-content:center;
	outline:none;
	border-radius:5px;
}.bestoption{
	width:550px;
	height:30px;
	font-size:15px;
	margin-top:10px;
	

}.recommend{
	margin-left: -61px;
}#comments{
	width: 500px;
	height:100px;
	text-align:top;
	margin-top:10px;
	font-size:20px;
	
}#frontend{
	margin-top:10px;

}.button{
	width:500px;
	height:50px;
	text-align:center;
	background-color:#3CB371;
	/*margin-top:10px;*/
	border:2px solid black;
	justify-content:center;
	font-size:20px;
	margin-bottom:20px;
	color:white;

}